{% extends 'base.html' %} 
{% block content %}
<div class="detail__img">
  <img src="{{parks.img}}" alt="{{parks.name}}" />
</div>
<div class="detail__name">
  {% if parks.verified_park %}
  <div class="icon-text">
    <span class="icon has-text-info">
      <i class="fas fa-check-circle"></i>
    </span>
    <span>Verified</span>
  </div>
  {% endif %}
  <h1 class="title">{{parks.name}}</h1>
</div>
    <div class="detail__container">
        <!-- inside container -->
    <div class="detail__sites mb-5">

        <h3 class="title is-3">Sites</h3>
        {% for site in parks.sites.all %}
        <div class="site">
        <span>{{forloop.counter}}</span>
        <span><b>{{site.title}}</b></span>
        </div>
        <span>
          <div class="dropdown">
            <div class="dropdown-trigger">
              <button
                class="button"
                aria-haspopup="true"
                aria-controls="dropdown-menu"
              >
                <span>Add to favoritelist</span>
                <span class="icon is-small">
                  <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
              </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
              <div class="dropdown-content">
                {% for favoritelist in favoritelists %}
            <!-- each playlist becomes a drop
            down item with the ids needed to add to the join table  -->
                <a
                  href="{% url 'favoritelist_site_assoc' favoritelist.pk site.pk %}?assoc=add"
                  class="dropdown-item"
                >
                  {{favoritelist.title}}
                </a>
                {% endfor %}
              </div>
            </div>
          </div>
        </span>

        {% empty %}
            <article class="message">
                <div class="message-header">
                    <p>No Sites Available</p>
                </div>
            </article>

        {% endfor %}
    </div>
    <!-- inside detail songs element below the header -->

<!-- Here you can see the action we provided
     is to the song_create route with the artist pk -->
    <form class="mb-5" action="{% url 'site_create' parks.pk %}" method="post">
        {% csrf_token %}
        <div class="field has-addons">
        <div class="control">
            <input
            class="input"
            type="text"
            name="title"
            placeholder="Title"
            required
            />
        </div>
        <div class="control">
            <input class="button is-primary" type="submit" value="Add Site" />
        </div>
        </div>
    </form>

<!-- before the for loop for songs -->

    <!--  above about section  -->
    <a href="{% url 'park_update' parks.pk %}" class="button is-info">
        <span class="icon">
          <i class="fas fa-edit"></i>
        </span>
      </a>
    <a href="{% url 'park_delete' parks.pk %}" class="button is-danger">
      <span class="icon">
        <i class="fas fa-trash-alt"></i>
      </span>
    </a>
  </div>
  <div class="detail__about">
    <h4 class="title is-4">About</h4>
    <p>{{parks.bio}}</p>
  </div>
</div>

{% endblock %}









